// Navigation code here
.parent-nav{
    
    .fixed();
    height: 15%;



.child-nav{
text-align:center;
background:@nav-bg;
padding: 20px 0 10px;
margin: 0 auto;
background: @nav-bg;
border-bottom: 1px double @nav-border;

h1 {
    
    font-size: 3.5rem;
    padding-bottom: 1.3rem;
}  

a{
    padding: 0 75px 0 0;
    height: 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    @media @phone{
        font-size: 20px;
        padding: 0 22px 0 0;
        margin-bottom: 5%;
    
    }

}
}
nav{
    
    height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    
    .layout(@jcontent, @aitems){
        margin:0 auto;
        max-width: 800px;
        width: 30%;
        @media @phone {
            width: 45%;   
        
    }
    
}
}

}  //  .navigation ends
